@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  animation: fadeSlide 120s infinite;
}

@keyframes fadeSlide {
  0%   { background-image: url('https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg'); opacity: 1; }
  30%  { background-image: url('https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg'); opacity: 1; }
  33%  { background-image: url('https://images.pexels.com/photos/165754/pexels-photo-165754.jpeg'); opacity: 0; }
  63%  {background-image: url('https://images.pexels.com/photos/4784737/pexels-photo-4784737.jpeg'); opacity: 1; }
  66%  { background-image: url('https://images.pexels.com/photos/1166209/pexels-photo-1166209.jpeg'); opacity: 0; }
  100% { background-image: url('https://images.pexels.com/photos/691901/pexels-photo-691901.jpeg'); opacity: 1; }
}


#root, .app {
  min-height: 100vh;
  width: 100%;
}
